/* リセットとベーススタイル */
html {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

input:is([type="checkbox"], [type="radio"]),
select,
label,
button {
  cursor: pointer;
}

img,
svg,
video {
  max-inline-size: 100%;
  block-size: auto;
}

@media (forced-colors: active) {
  button {
    border: 1px solid;
  }
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
}

img {
  display: block;
  border-style: none;
  max-inline-size: 100%;
  block-size: auto;
}

select {
  field-sizing: content;
}
