body {
  background-color: #f6f6ff;
  height: 100%;
  color: #333;
  line-height: 1.6;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

#app {
  height: 100%;
}

.app {
  margin-inline: auto;
  max-width: 1400px;
  height: 100%;
}

.tab-header {
  display: flex;
  position: fixed;
  top: 0;
  justify-content: center;
  z-index: 10;
  padding: 0 12px;
}

.tab-header__buttons {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.tab-header__button {
  transition: all 0.2s ease;
  cursor: pointer;
  box-shadow: 0 2px 10px rgb(65 71 95 / 0.3);
  border: none;
  border-radius: 0 0 12px 12px;
  background-color: #ffffff;
  padding: 10px 18px;
  color: #444;
  font-weight: 700;

  &:not(.tab-header__button--active):hover {
    background-color: #e6e9ef;
  }
}

.tab-header__button--active {
  cursor: auto;
  background-color: #1da1f2;
  color: #ffffff;
}

.app__main {
  padding: 24px 12px 12px;
  height: 100%;
}

.tab-panel {
  display: grid;
  grid-template:
    "upload preview control" 1fr /
    200px 1fr 320px;
  align-items: start;
  gap: 12px;
  width: 100%;
  height: 100%;
  @media (width <= 1000px) {
    grid-template:
      "preview control" 1fr
      "upload control" 230px /
      1fr 320px;
    min-height: 100vh;
  }
}

.tab-panel--preview {
  display: block;
  grid-column: 1 / -1;
  padding: 12px;
}

.app--preview #boundingBox,
.app--preview #cropBox {
  display: none !important;
}

.app--preview .preview-container {
  pointer-events: none;
}

.error-message {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
  animation: slideIn 0.3s ease;
  box-shadow: 0 4px 12px rgb(255 71 87 / 0.3);
  border-radius: 8px;
  background-color: #ff4757;
  padding: 15px 20px;
  max-width: 400px;
  color: #ffffff;
  font-weight: 600;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}
